:host {
	width: 100%;
}

$productSize: 400px;

.products__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: $productSize;
}
.product {
	&__item {
		position: relative;
		overflow: hidden;
	}
	&__title {
		font-size: 2rem;
	}
	&__header,
	&__footer {
		height: 100px;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__description {
		font-size: 1.3rem;
	}
	&__price {
		margin-left: auto;
		font-size: 1.6rem;
	}
	&__image {
		height: $productSize;
		width: 100%;
		object-fit: cover;
		position: absolute;
		z-index: -1;
	}
}
