/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background: rgb(241, 241, 241);
}
a,
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #125699;
}
